
*
{
    background-color: hsla(220,16%,96%, 0.5);
}

.mainDiv
{
    width:100%;
    display: flex; 
    flex-direction: row;
}

.usersDiv
{
   height: 100vh;
   width: 50%;
   text-align: center;
}

.rightSideDiv
{
    height: 100vh;
    width: 50%;
    text-align: center;
}

