.postDiv
{
    background-color: white;
    display: flex; 
    flex-direction: column;
    width: 450px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.deleteIcon
{
    align-self:flex-end;
    color: red;
    position: absolute;
    margin-top: 3px;
    margin-right: 3px;
} 


